---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
						</div>
						<ul class="actions">
							<li><a href="elements.html" class="button">Blog</a></li>
							<li><a href="generic.html" class="button">CV</a></li>
							<li><a href="contato.html" class="button">Contato</a></li>
						</ul>
						
						
						
						  <ul class="icons">
							{% for socloc in site.social %}
							{% if socloc[1] %}
							{% if socloc[0] == 'email' %}
							<li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o"
								   ><span class="label">E-mail</span></a></li>
							{% else %}
							<li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"
								   ><span class="label">{{ socloc[0] }}</span></a></li>
							{% endif %}
							{% endif %}
							{% endfor %}
						  </ul>
					</section>

